.container {
  padding: 20px;
  background-color: #f44336;
  color: white;
  z-index: 2;
  width: 300px;
  align-self: end;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
