.container {
  border: 1px solid rgb(126, 124, 124);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  width: 340px;
  height: 60%;
  overflow: hidden;
  background-color: gray;
  position: relative;
  margin: 1%;
  display: flex;
  flex-direction: column;

  &_upperWhite {
    width: 100%;
    height: 172px;
    background-color: white;
    position: relative;

    &_image {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      margin: 10px;
    }
  }

  &_avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border-radius: 50%;
    transform: translate(50%, 6%);
  }

  &_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    overflow-x: auto;
    &_image {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }

  .scrollbar {
    overflow-y: auto;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    height: 300px;
    &_name {
      text-align: center;
      font-weight: bolder;
      padding: 10px;
      color: wheat;
      position: sticky;
      background-color: gray;
      top: 0;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
